name: WSGet

on: [push]

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go 1.24
        uses: actions/setup-go@v6
        with:
          go-version: "1.24.x"
      - name: Display Go version
        run: go version
      - name: Code Lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test -coverprofile=coverage.out -covermode=atomic -v -race ./...
      - name: Prepare coverage reports
        run: |
          cat coverage.out | grep -v "wsget/cmd" | grep -v "_mock.go" > coverage.final.out
          mv coverage.final.out coverage.out
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
